<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="{{ if .IsHome }}home-page{{ end }}">
  <header class="site-header" id="site-header">
    {{ partial "header.html" . }}
  </header>
  <main class="site-main">
    {{ block "main" . }}{{ end }}
  </main>
  <footer class="site-footer">
    {{ partial "footer.html" . }}
  </footer>
  {{ partialCached "head/js.html" . }}
</body>
</html>
